@import "./_reset.css";
@import "@fontsource/open-sans/400.css";
@import "@fontsource/open-sans/500.css";
@import "@fontsource/open-sans/600.css";
@import "@fontsource/open-sans/700.css";
@import "@fontsource/averia-serif-libre/300-italic.css";
@import "@fontsource/averia-serif-libre/400.css";

/* Variables */
html {
  height: 100%;
  font-size: 100%;
  scroll-behavior: smooth;

  --purple: hsl(280, 55%, 50%);
  --purple-light: hsl(280, 66%, 85%);
  --purple-hover: hsl(280, 55%, 40%);
  --purple-bg: hsla(280, 55%, 50%, 0.25);
  --purple-bg-hover: hsla(280, 55%, 50%, 0.5);
  --indigo: hsl(225, 88%, 20%);

  --type-xs: 0.875rem; /* 14px */
  --type-sm: 0.9375rem; /* 15px */
  --type-md: 1rem; /* 16px */
  --type-lg: 1.125rem; /* 18px */
  --type-xl: 1.3125rem; /* 21px */
  --type-2xl: 1.5rem; /* 24px */
  --type-3xl: 2.625rem; /* 42px */
  --type-4xl: 4rem; /* 64px */

  --space-sm: 0.6rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xl: 4rem;

  --radius-sm: 8px;
  --radius-md: 18px;

  --font-sans-serif: "Open Sans", "Helvetica Neue", system-ui, -apple-system, sans-serif;
  --font-serif: "Averia Serif Libre", serif;

  *:focus-visible {
    outline: var(--purple-light) dashed medium;
    transition: none !important; // prevent transition on outline width
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100%;
  background-color: var(--indigo);
  color: white;
  font-family: var(--font-sans-serif);
  font-size: var(--type-md);
  font-weight: 500;
}

h1 {
  font-family: var(--font-serif);
  font-size: clamp(2rem, 10vw, 3.4rem);
  font-weight: 300;
  font-style: italic;
  text-transform: lowercase;
  letter-spacing: -0.08ch;
  line-height: 1.2;
  margin-bottom: 0.4em;
}

h2,
h3,
h4 {
  font-family: var(--font-sans-serif);
  font-weight: 600;
  margin-bottom: 0.8em;
}

p {
  line-height: 1.6em;
}

a {
  color: inherit;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

section {
  margin-bottom: 4rem;
}

.vh {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  --container-padding: clamp(20px, 5vw, 32px);
  max-inline-size: 46rem;
  padding-inline: var(--container-padding);
  margin-inline: auto;
  width: 100%;
}

.content {
  p {
    margin-bottom: 1.2em;
  }

  h2,
  h3,
  h4 {
    margin-top: 2em;
  }

  a:not(.text-link) {
    transition: color 0.15s ease-in-out;

    &:hover,
    &:focus {
      color: var(--purple-hover);
    }
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

blockquote {
  font-style: italic;
  border-left: 2px solid var(--purple);
  padding-inline: 1em;
  padding-block: 0.6em;
  background-color: var(--purple-light);
  margin-bottom: 1.2em;

  & > *:last-child {
    margin-bottom: 0;
  }
}

.caption {
  font-family: var(--font-sans-serif);
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.3ch;
}

.caption-small {
  @extend .caption;
  font-size: 0.7rem;
}

.caption-link {
  @extend .caption;
  position: relative;
  text-decoration: none;
  padding-block: 0.25em;
  transition: all 0.15s ease-in-out;
  isolation: isolate;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: var(--purple);
    transition: all 0.15s ease-in-out;
    z-index: -1;
  }

  &::after {
    right: 0;
    width: 100%;
  }

  &:hover,
  &:focus,
  &.active {
    &::after {
      height: 100%;
    }
  }
}

.breadcrumbs {
  ol {
    display: flex;
    padding: 0;
  }

  li {
    list-style: none;
  }

  li:not(:last-child)::after {
    content: "/";
    display: inline-block;
    margin: 0 var(--space-sm);
  }

  a {
    opacity: 0.7;
    text-decoration: none;
    transition: opacity 0.15s ease-in;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

.button-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-md);
}

.hide {
  display: none;
}
